.about {
  text-align: center;
  margin: 3vh 10vw;
  font-family: 'Montserrat', sans-serif;
}

.about .aboutTitle {
  font-size: 2.1rem;
}

.about p {
  font-size: 2.2rem;
  margin: 5vh auto 9vh;
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 600px) {
  .about .aboutTitle {
    font-size: 3rem;
  }

  .about p {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  .about .aboutTitle {
    font-size: 2.5rem;
  }

  .about p {
    font-size: 1.8rem;
  }
}
@media (min-width: 1020px) {
  .about .aboutTitle {
    font-size: 3rem;
  }

  .about p {
    font-size: 2rem;
  margin: 5vh 5vw 6vh;

  }
}
@media (min-width: 1400px) {
  .about .aboutTitle {
    font-size: 3rem;
    margin-top: 5vh;
  }

  .about p {
    font-size: 2.5rem;
  margin: 5vh 8vw 6vh;

  }
}
