.projects {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  margin: 0 3vw;
 
}
.projects h2 {
  text-align: center;
  font-size: 3rem;
  margin: 4vh 0;
  font-family: 'Montserrat', sans-serif;
  
}
.project {
  padding-bottom: 8vh;
  width: 100%;
  text-align: center;
}
.project img {
  width: 90%;
  border: 1px solid rgb(216, 216, 216);
}
.project div {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}
.project a h3{
  color: black;
  font-family: 'Montserrat', sans-serif;
  padding: 2vh 0;
}

@media (min-width: 700px) {
  .projects h2 {
    font-size: 5rem;
    margin: 3vh 0;

  }
  .project h3{
    padding: 3vh 0;
  }
  .projects {
    margin: 0 9vw;
  }
  .project img {
    width: 70%;
  }
  .project div {
    font-size: 2.5rem;
  }
}

@media (min-width: 1000px) {
  .projects h2 {
    font-size: 3.5rem;
    margin: 2vh 0;

  }
  .projects {
    margin: 0 5vw;
  }
  .project {
    display: flex;
    text-align: left
  }
  .project:nth-child(even) {
    flex-direction: row-reverse;
  }
  .project:nth-child(odd){
    text-align: right;
  }
  .project img {
    width: 50%;
    margin: 0 1vw;
  }
  .project div.description {
    max-width: 50%;
    font-size: 1.8rem;
  }
  .project h3{
    padding: 3vh 0;
  }
}
@media(min-width: 1200px){
  .projects{
    max-width:80%;
    margin: 0 10%;
  }
  .project{
    margin: 0 auto;
  }
  .projects h2{
    font-size: 3rem;
    margin: 2vh 0;
    
  }
  .project h3{
    padding: 3vh 0;
  }
}
@media(min-width: 1400px){
  .projects{
    max-width:70%;
    margin: 0 15%;
  }
  .project{
    margin: 0 auto;
  }
  .projects h2{
    font-size: 3rem;
    margin: 2vh 0;
  }
  .project h3{
    padding: 3vh 0;
  }
  .project img {
    width: 40%;
    margin: 0 1vw;
  }
  .project div.description {
    max-width: 50%;
    font-size: 2rem;
    padding: 0 3vw ;

  }
}
@media(min-width: 1600px){
  
  .project{
    margin: 0 auto;
  }
  .projects h2{
    margin: 2vh 0;
    font-size: 2.8rem;
    
  }
  .project h3{
    padding: 3vh 0;
  }
  .project img {
    width: 40%;
    margin: 0 1vw;
  }
  .project div.description {
    max-width: 50%;
    font-size: 2rem;
    padding: 0 4vw ;
  }
}
